.banner {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2em;
}

.banner p {
    margin: 0;
}

#coursetitle {
    color: #005826;
}

h2 {
    color: #005826;
}

.footnote-definition {
    display: block;
}

.footnote-body {
    display: inline-block;
}

footer {
    margin-top: 2em;
    margin-bottom: 2em;
}

footer p {
    font-size: 0.80em;
    margin: 0;
}

.obu-tagline p {
    font-size: 0.80em;
    text-align: center;
    }

#postamble {
    margin-top: 2em;
    margin-bottom: 2em;
}

#postamble p {
    font-size: 0.80em;
    margin: 0;
}
