.banner {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2em;
}

.banner p {
    margin: 0;
}

#coursetitle {
    color: #005826;
}

h2 {
    color: #005826;
}

.footnote-definition {
    display: block;
}

.footnote-body {
    display: inline-block;
}

footer p {
    font-size: 0.85em;
    margin: 0;
}

.obu-tagline {
    font-size: 0.85em;
    text-align: center;
}
