/* Put your custom CSS rules here */

:root {
font-family: 'Fira Sans', Helvetica, sans-serif;
}

.banner {
    text-align: center;
    /* border-bottom: 1px solid black; */
    margin: 10px;
    padding: 10px;
    color: var(--moredark);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 5px;
 }

.banner a:link {
    text-decoration: none;
}

.banner a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding:40px 0px 0px 0px;
}

body {
    color: #202020
}

pre {
    white-space: pre-wrap;
}

/*Bibliography styles*/
ol.bibliography {
  list-style-type: none;
  padding-left: 1rem;
  text-indent: -1rem;
}

ol.bibliography li {
  margin: 1rem 0;
}

.arg li:last-child {
  list-style: none;
}

.arg li:nth-last-child(2) {
  text-decoration: underline;
}

.arg li {
  margin: 0px;
}
