* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --light: #fff;
    --lesslight: #efefef;
    --dark: #222222;
    --moredark: #000000;
    --lessdark: #484848;
    --link: #004d9a;
    --visited: #400080;
    --title: #800000;
    /* font-size: 16px; */
}

html {
    /* border-top: 5px solid var(--dark); */
    font-family: system-ui, sans-serif;
    color: var(--dark);
}


body {
    font-size: clamp(1rem, 0.231vw + 0.94rem, 1.125rem);
    line-height: clamp(1.575rem, -0.416vw + 1.908rem, 1.8rem);
    background-color: var(--light);
    margin: 0;
    max-width: 800px;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    text-align: center;
    /* border-bottom: 1px solid black; */
    margin: 10px;
    padding: 10px;
    color: var(--moredark);
}

.banner h2 {
font-weight: 600;
}

.banner a:link {
	color: var(--moredark);
	text-decoration: none;
	
}

.banner a:hover {
    color: var(--dark);
    text-decoration: underline;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin: 5px;
}

.title {
    color: var(--moredark);
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.subtitle {
    text-align: center;
}

span.subtitle {
    color: var(--lessdark);
    font-size: 0.95rem;
    text-align: center;
    margin-top: 0
		
}

.footer {
    font-size: clamp(0.875rem, 0.231vw + 0.815rem, 1rem);
    line-height: clamp(1.5rem, -0.3vw + 1.74rem, 1.662rem);
    text-align: center;
    padding:40px 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #000;
    letter-spacing: -.025rem;
}


h1 {
    line-height: 2rem;
}

li + li {
    margin-top: 0.5rem;
}


pre code {
    /* display: block; */
    /* background-color: var(--lesslight); */
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5em;
    overflow-x: auto;
}

code {
    background-color: var(--lesslight);
    overflow-x: auto;
}

pre, pre:hover {
    /* display: block; */
    /* background-color: var(--lesslight); */
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5em;
    overflow-x: auto;
}

pre.src {
overflow-x: auto;
}




blockquote {
    padding: 0 0 0 2rem;
    margin: 0 0 0 2rem;
    /* color: #616161; */
    border-left: solid;
    border-width: 1px;
    border-color: #939393;
    /* font-style: italic; */
}
blockquote p:last-child {
    margin-bottom: 0;
}

p.source {
    text-align: right;
}

p.source:before {
    content: "\2014 \2009";
}

cite {
    padding: .5rem 1rem;
    margin: .8rem 0 0 1rem;
    color: #7a7a7a;
    font-size: 1rem;
    font-style: normal;
}


blockquote.bigquote {
    display: block;
    /* font-family: Merriweather, serif; */
    font-size: 1.2rem;
    border-left: none;
    font-style: italic;
    position: relative;
    max-width: 500px;
    margin: auto;
    margin-top: 2rem;
    /* margin-left: 150px; */
    /* margin: 0.25em 0; */
    padding: 0.25em 45px;
    line-height: 2rem;
}

blockquote.bigquote:before {
    display: block;
    color: #ccc;
    font-family: Georgia, serif;
    content: "\201C";
    font-size: 4rem;
    position: absolute;
    left: -0px;
    top: 30px;
    right: 30px;
    line-height: 0.1em;
    margin-right: 2em;
    vertical-align: -0.4em;

}

cite.bigquote {
    display: block;
    font-size: 1.1rem;
    text-align: right;
    border-left: none;
    font-style: normal;
    /* width: 500px; */
    max-width: 500px;
    padding-right: 3rem;
    margin: auto;
    margin-top: 1rem;
    position: relative;
}

cite.bigquote:before {
    content: "\2014 \2009";
}


p.bigquote {
    display: block;
    font-size: 1.1rem;
    text-align: right;
    border-left: none;
    font-style: normal;
    max-width: 500px;
    padding-right: 3rem;
    margin: auto;
    margin-top: 1rem;
    position: relative;
}

p.bigquote:before {
    content: "\2014 \2009";
}

a {
    outline: none;
    color: var(--dark);
    text-decoration: underline;
    text-decoration-thickness: .05em;
    text-underline-offset: 3.7px;
}


a:hover {
    color: var(--link);
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.footpara { display: inline; }
.footdef  { margin-bottom: 1rem; }
a.footnum {text-decoration: none;}
a.footref {text-decoration: none;}
#footnotes {
    font-size: clamp(0.875rem, 0.231vw + 0.815rem, 1rem);
    line-height: clamp(1.5rem, -0.3vw + 1.74rem, 1.662rem);
}

h2.footnotes {
    visibility: hidden;
    margin-top: 2rem;
}

#text-footnotes {
    border-top-style: solid;
    border-width: 2px;
    padding-top: 1rem;
}

.tagline {
    margin-top: 2rem;
    text-align: right;
    font-size: clamp(0.875rem, 0.231vw + 0.815rem, 1rem);
    line-height: clamp(1.5rem, -0.3vw + 1.74rem, 1.662rem);
    color: var(--less-light);
}


/* Dark mode overrides (confusingly inverse) */
@media (prefers-color-scheme: dark) {
    :root {
	--light: #222;
	--lesslight: #333;
	--dark: #eee;
	--moredark: #fefefe;
    }
    /* This fixes an odd blue then white shadow on FF in dark mode */
    *:focus {
	outline: var(--light);
	box-shadow: 0 0 0 .25em var(--link);
    }
}

/*Bibliography styles*/
ol.bibliography {
    list-style-type: none;
    padding-left: 1rem;
    text-indent: -1rem;
}

ol.bibliography li {
    margin: 1rem 0;
}

.arg li:last-child {
    list-style: none;
}

.arg li:nth-last-child(2) {
    text-decoration: underline;
}

.arg li {
    margin: 0px;
}



/* Printing */
@media print {
    .home {
	display: none;
    }
}
