/*********/
/* Fonts */
/*********/

/* use Linux Libertine - Regular in .woff format */
@font-face {
    font-family: LinLibertine;
	src: url('../fonts/LinLibertine_R.woff');
}

/* use Linux Libertine - Italic in .woff format */
@font-face {
    font-family: LinLibertine;
	font-style: italic;
	src: url('../fonts/LinLibertine_RI.woff');
}

/* use Linux Libertine - Italic in .woff format */
@font-face {
    font-family: LinLibertine;
	font-weight: bold;
	src: url('../fonts/LinLibertine_RB.woff');
}

/* use Linux Biolinium - Regular in .woff format */
@font-face {
    font-family: LinBiolinum;
	src: url('../fonts/LinBiolinum_R.woff');
}

/* use Linux Biolinium - Italic in .woff format */
@font-face {
    font-family: LinBiolinum;
	font-style: italic;
	src: url('../fonts/LinBiolinum_RI.woff');
}

/*****************************************************************************/
/*
/* Base Font Sizes
/*
/*****************************************************************************/

@media all {html {font-size: 22px;}}
@media all and (max-width:1000px){html {font-size: 22px;}}
@media all and (max-width:960px){html {font-size: 22px;}}
@media all and (max-width:920px){html {font-size: 22px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 21px;}}
@media all and (max-width:800px){html {font-size: 21px;}}
@media all and (max-width:760px){html {font-size: 20px;}}
@media all and (max-width:720px){html {font-size: 20px;}}
@media all and (max-width:680px){html {font-size: 20px;}}
@media all and (max-width:640px){html {font-size: 19px;}}
@media all and (max-width:600px){html {font-size: 19px;}}
@media all and (max-width:560px){html {font-size: 18px;}}
@media all and (max-width:520px){html {font-size: 18px;}}



/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html {
	/* font-family: "Lato", Helvetica, Arial, sans-serif; */
	/* font-family: 'Cardo', serif; */
	font-family: 'LinLibertine', serif;
	/* css font-size: 16px; */
}

h1, h2, h3, h4, h5, h6 {
	/* font-family: "Lato", Helvetica, Arial, sans-serif; */
	/* font-family: 'Montserrat', sans-serif; */
	/* font-family: 'Cardo', serif; */
	font-family: 'LinBiolinum', sans-serif;
}

a {
	color: #336699;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #702a09;
	text-decoration: none;
}

/* @media (min-width: 38em) { */
/* 	html { */
/* 		font-size: 18px; */
/* 	} */
/* } */



.masthead-title {
	margin-top: 0;
	margin-bottom: 0;
	color: #702a09;
	font-size: 1.5rem;
	letter-spacing: .09rem;
	text-transform: uppercase;
	text-align: center;
}
.masthead-title a {
	color: #702a09;
}

@media (max-width: 640px) {
    .masthead-title {
		font-size: 1.3rem;
	}
}

.center {
	text-align: center;
}

pre {
	overflow: auto;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
}

/*****************************************************************************/
/*
/* quotes
/*
/*****************************************************************************/

blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0 0 1rem;
	color: #7a7a7a;
	border-left: none;
	font-style: italic;
}
blockquote p:last-child {
	margin-bottom: 0;
}
@media (min-width: 30em) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}

cite {
	padding: .5rem 1rem;
	margin: .8rem 0 0 1rem;
	color: #7a7a7a;
	font-size: 1rem;
	font-style: normal;
}

@media (min-width: 30em) {
	cite {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}

blockquote.big { 
    display: block;
    /* font-family: Merriweather, serif; */
    font-size: 1.2rem;
    border-left: none;
    font-style: italic;
    position: relative;
    /* width: 500px; */
    margin: 0.25em 0;
    padding: 0.25em 45px;
    line-height: 2rem;
}

blockquote.big:before {
    display: block;
    color: #ccc;
    font-family: Georgia, serif;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: -0px;
    top: 30px;
    right: 30px;
    line-height: 0.1em;
    /* margin-right: 2em; */
    /* vertical-align: -0.4em; */
    
}

cite.big { 
	display: block;
    border-left: none;
    font-style: normal;
    margin-left: 1.4rem;
    position: relative;
}

cite.big:before {
    content: "\2014 \2009";
}



/*****************************************************************************/
/*
/* Footnotes
/*
/*****************************************************************************/

.footnotes {
    font-size: 0.8rem;
}


/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.sidebar {
	/* font-family: "Lato", Helvetica, Arial, sans-serif; */
	/* font-family: 'Montserrat', sans-serif; */
	/* font-family: 'Cardo', serif; */
	font-family: 'LinBiolinum', sans-serif;
	font-size: 0.8rem;
}

.sidebar a {
	font-weight: normal;
	color: #fff;
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
	color: #989898;
	background-color: #505050;
}

.sidebar-nav-item {
	letter-spacing: calc(0.08em);
	text-transform: uppercase;
}

.sidebar .social-icons a {
	color: rgba(255, 255, 255, 0.6);
	padding-right: 0.75em;
}

.sidebar .social-icons a:hover {
	text-decoration: none;
}

.sidebar-toggle {
	color: #989898;
	position: absolute;
    width: 2.25rem;
}

.sidebar-toggle:hover {
	color: #702a09;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2rem;
	padding: 0;
}

ul.posts li {
	padding: 0.2rem 0;
}

ul.posts li span {
	color: silver;
}

/*****************************************************************************/
/*
/* Tags
/*
/*****************************************************************************/

.tag-box {
	list-style: none;
	margin: 0;
	padding: 4px 0;
	overflow: hidden;
	*zoom: 1;
}

.tag-box:before, .tag-box:after {
					 display: table;
					 content: "";
					 line-height: 0;
				 }

.tag-box:after {
	clear: both;
}

.tag-box.inline li {
	float: left;
	/* font-size: 14px; */
	font-size: 0.875rem;
	line-height: 2.5;
}

.tag-box a {
	padding: 4px 6px;
	margin: 2px;
	background-color: #e6e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

.tag-box a span {
	vertical-align: super;
	/* font-size: 10px; */
	font-size: 0.625rem;
}

.pagination-item {
	/* font-family: 'Cardo', serif; */
	font-family: 'LinBiolinum', sans-serif;
}
/*****************************************************************************/
/*
/* specialty
/*
/*****************************************************************************/

